* text=auto

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.md text eol=crlf

*.001 binary
*.dd binary
*.E01 binary
*.e01 binary
*.db binary
*.lib binary
*.dll binary
*.exe binary
